* {
    font-family: "JetBrains Mono",monospace;
}

body{
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1 {
    color: darkslategray;
}

x.container {
 display: flex;
 overflow: hidden;
 justify-content: center;
 flex-wrap: wrap;
 margin:0;
 padding: 0px;
 background-color: whitesmoke;
 box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
 border-radius: 10px;
 width: 560px;
 height: 560px;
 box-sizing: border-box;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 10px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
    color: darkslategray;
    padding: 10px;
    border-radius: 8px;
}
input[type="number"] {
    width: 220px;
    padding: 10px;
    border: none ;
    color:gray;
    text-align: right;
    border-radius: 5px;
    font-size: 20px;
    outline: none; /* Removes default outline on focus */
}
p {
    margin-bottom: 0em;  
    margin-top: 0em;
}

#calcDisplay {
    background-color: whitesmoke;
    width: 220px;
    margin: 0;
    padding: 5px;
    color:gray;
    text-align: right;
    border-radius: 5px;
    font-size: 22px;
    line-height: 1;
    outline: none; /* Removes default outline on focus */
}
#formulaDisplay {
    background-color: whitesmoke;
    margin: 0;
    width: 220px;
    padding: 5px;
    xborder: 1px solid black ;
    color:gray;
    text-align: right;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    outline: none; /* Removes default outline on focus */
}

.displayContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start ;
    width: 250px;
    min-height: 70px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 3px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: darkslategray;
    padding: 0px;
    border-radius: 8px;
    white-space: normal;         /* allow wrapping */
    overflow-wrap: break-word; 
    
}

.calcContainer {
 display:flex;
 flex-direction: column;
 align-items: center;
 gap: 16px;
 padding: 20px;
 border-radius: 10px;
 width: 300px;
 box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
 box-sizing: border-box;
 font-size: 16px;
 background-color: whitesmoke;
 color: darkslategray; 
}


.btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 28px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
  font-weight: 800;
  color: slategray;
  width: 40px;
  height: 45px;
}


.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.digitBtn {
    color: slategray;
}

.operatorBtn {
    background-color: rgb(193, 198, 202);
    color: rgb(92, 19, 19);
}

.equalBtn{
    background-color: rgb(117, 199, 166);
    color: black
}

.clearBtn{
    background-color: rgb(109, 160, 210);
    color: rgb(92, 91, 91);
}

.toggleNegationBtn {
    color: slategray;
}

.doubleSizeBtn {
  width: 90px;
}

.delBtn {
    color: rgb(92, 91, 91);
    background-color: rgb(232, 164, 164);
}
